body {
  margin: 0;
}
#app {
  width: inherit;
  height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20rem;
  padding-left: 60rem;
  padding-right: 0;
}
.heading {
  color: #fff;
  font-size: 2.5rem;
}

.w40 {
  width: 40rem;
}

.h40 {
  width: 40rem;
}

.mb8 {
  margin-bottom: 4rem
}

.f8 {
  font-size: 2.5rem
}

.ml42 {
  margin-left: 42rem;
}

.athelas {
  background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}
